
html {
  background-color: grey;
}

.slider{
  width: 80vw;
  height: 50vw;
  margin: auto;
}

.video-square iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50vw;
  height: 50vw;
}

.video-vertical iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 50vw;
}
